@{
    ViewBag.Title = "Apresentação";
}


    <img id="logo_oficial" width="250" src="Images/logooficial.png" />

    <p style="text-align: center"><strong>Sejam bem-vindos ao site da equipa AH!</strong></p>

    <p style="text-align: justify">A Equipa <strong>AH</strong> (<strong>Anatidae Haxball</strong>) foi criada por jogadores já com alguma experiência de HaxBall. Enigma e Sm17 decidiram juntar-se e formar esta equipa que tem como objectivo jogar haxball de uma forma descontraída e, acima de tudo, correcta. Queremos apenas divertir-nos neste jogo sem deixar de mostrar o nosso valor com os dedos!</p>


    <p style="text-align: justify">Vamos tentar criar uma equipa competitiva que lute por vitórias e por títulos... mas que também sejamos conhecidos pelo nosso fair-play e respeito pelos adversários! Só assim conseguiremos chegar longe enquanto equipa... e todos juntos chegaremos ao sucesso!</p>


    <p style="text-align: justify">Sem me querer alongar muito mais, espero o maior dos sucessos para a nossa equipa, que os nossos jogadores, acima de tudo, se divirtam a jogar haxball e que no fim sejamos nós a sorrir! Boa sorte a todos e que os <strong>AH</strong> sejam os melhores!</p>
		

