@model AnatidaeHaxball.Jogador

@{
    ViewBag.Title = "Remover Jogador da Equipa";
}

<h2>Remover Jogador da Equipa</h2>

<h3>Tem a certeza que pretende tirar este jogador da equipa?</h3>

@Html.Partial("_DeleteJogador")

@using (Html.BeginForm()) {
    <div class="editor-field">
        @Html.DisplayName("Notas")
    </div>
    <div class="editor-field">
        @Html.TextArea("Notas")
    </div>
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Ver Jogadores", "Jogadores")
    </p>
}
