@{
    ViewBag.Title = "Remoção não permitida";
}

<h3>
    Não é possível remover esta competição pois já foram feitos jogos nela. Tente antes desactivá-la.
</h3>

<div>
    @Html.ActionLink("Ver Competições", "Competicoes")
</div>
