@{
    ViewBag.Title = "Remoção não permitida";
}

<h3>
    Não é possível remover esta equipa porque já entrou em competições. Tente antes desactivá-la.
</h3>

<div>
    @Html.ActionLink("Ver Equipas", "Equipas")
</div>